<div class="col-md-12">
  <div class="row">
    <h2>Contact</h2>
    <li>name: <%= @contact.name %></li>
    <li>number: <%= @contact.user_number %></li>
    <p><%= link_to "Return Home", root_path %></p>
  </div>
</div>
